<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Início</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="css/inicio.css">
    
</head>
<body>
    <header id="cabecalho">
        <i class="bi bi-person-circle"></i>

        <div class="content-links">
            <a href="Inicio.html" class="link-1">Início</a>
            <a href="Veiculos.html" class="link-1">Veículos</a>
            <a href="Usuarios.html" class="link-1">Usuários</a>        
        </div>
    </header>

    <div id="content">
        <div class="content-square">
            <div class="dados">
                <img class="banner" src="img/vista-frontal-sorridente-mulher-arabe-posando-dentro-de-casa.png" alt="">
            
                <div class="content-dados">
                    <h1 class="title">Olá Empreendedor!</h1>
                    <p class="description">Já tem uma conta?</p>

                    <label for="email">Email</label>
                    <input type="text">
                    <label for="password">Senha</label>
                    <input type="password">

                    <button><a href="#">Enviar</a></button>
                </div>
            </div>
        </div>

    </div>
</body>
</html>